{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" {{ if .Site.Params.portfolio.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.portfolio.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="Talks">
      {{ range .Site.Data.projects}}
      {{ if eq .talk true }}
      <a href="#portfolioModal{{ .modalID }}" class="Talk" data-toggle="modal">
        <img src="img/portfolio/{{ .preview }}" class="Talk-image" alt="">
        <div class="Talk-title">
          <h4>{{ .title | markdownify }}</h4>
          <p class="text-muted">{{ .client | markdownify }}</p>
        </div>
      </a>
      {{ end }}
      {{ end }}
    </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Schedule</h2>
          <h4>All talk materials are available on 
            <a href="https://github.com/kampalr">Github</a>. 
          </h4>
            <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Time</th>
                <th scope="col">Main Conference Room</th>
                <th scope="col">Time</th>
                <th scope="col">Room 2 </th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">08:30 - 09:30</th>
                <td colspan="3"> <b> Entrance and Registration </b> </td>
              </tr>
                
                <tr>
                <th scope="row">09:30 - 09:40</th>
                <td colspan="3"> <b> Welcome Remarks </b> <br> <i> SatRday Kampala Organizers </i></td>
              </tr>

                
                <tr>
                <th scope="row">09:40 - 09:55</th>
                <td colspan="3"> <b> Keynote 1: Satrdays and world perspective on data science </b> <br> <i> Stephanne Locke, Locke Data </i></td>
              </tr>
                
                <tr>
                <th scope="row">09:55 - 10.10</th>
                <td colspan="3"> <b> Keynote 2: Data Science in Africa (Africa R User Group) </b> <br> <i> Shelmith Karuki, Busara Centre </i></td>
              </tr>
                
              <tr>
                <th scope="row">10:10 - 11:10</th>
                <td> <b> Introduction to R  </b> <br> <i> Nelda Limilimi ,Wefarm </i></td>
                <th rowspan="2"> <br> <br> 10:00 - 12:35</th>
                <td rowspan="2"> <br> <b> Workshop <br> Writing reliable Functions </b> <br> <i>  David Clarance, M Kopa Solar </i> </td>
              </tr>

              <tr>
                <th scope="row">11:10 - 12:35</th>
                <td> <b> TidyVerse Overview </b> <br> <i>  Brian Ojok </i></td>
              </tr>

              <tr>
                <th scope="row">12:35 - 01:30</th>
                <td colspan="3"> <b> Lunch Break </b> </td>
              </tr>

              <tr>
                <th scope="row">01:30 - 02:15</th>
                <td> <b>  Twitter Data Analysis </b> <br> <i>  Sam Luyinda Mukasa, German Cooperation </i></td>
                <th rowspan="2"> <br> <br> 01:30 - 03:00</th>
                <td rowspan="2"> <br> <b> Workshop <br> Predictive Analytics in R, Use case: Zindi Fraud detection Challenge </b> <br> <i> Mark Okello, Patira Data Science and TMCG</i> </td>
              </tr>

              <tr>
                <th scope="row">02:15 - 03:00</th>
                <td> <b> R in Medicine </b> <br> <i> Vincent Arumadri, MRC UVRI </i></td>
              </tr>

              <tr>
                <th scope="row">03:00 - 03:30</th>
                <td colspan="3"> <b> Social Break : Ask the Expert </b> <br> <i> Kevin O'Brien, R Forward </i></td>
              </tr>

            
                <tr>
                <th scope="row">03:30 - 04:00</th>
                <td colspan="3"> <b> Using R for Reproducible Research </b> <br> <i> Wilbrod Ntawiha, NSSF Uganda </i></td>
              </tr>
                
                <tr>
                <th scope="row">04:00 - 04:30</th>
                <td colspan="3"> <b> Hypothesis Testing </b> <br> <i> Shelmith Karuki, Busara Centre </i></td>
              </tr>
                
                <tr>
                <th scope="row">04:30 - 05:00</th>
                <td colspan="3"> <b> The Future of Machine Learning </b> <br> <i> Leonard Alvin Kabwama, Cognitive AI Tech Limited </i></td>
              </tr>
                
                <tr>
                <th scope="row">05:00 - 05:20</th>
                <td> <b> Webinar <br>         </b> <br> <i> Kampala R partners and sponsors</i> </td>
                
              </tr>

              <tr>
                <th scope="row">05:20 - 05:30</th>
                <td> <b> Closing Remark </b> <br> <i> SatRday Kamapala Organizers</i> </td>
                <td colspan="2"></td>
              </tr>


            </tbody>
          </table>


        </div>
      </div>
  </div>
</section>
